@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body{

    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
   
}
.logo {
   text-decoration: none;
   width: 110px;
   padding-top: 10px;
   padding-left: 90%;
   
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.menu {

    text-align: right;
    background: #ff1616;
    padding: 10px 30px;
    border-top-left-radius: 18px;
}

   

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.menu a:hover {
border-bottom: 1px solid #fff;


}
.left-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff1616;
}
/* for left side of timeline page */
.left-sidebar-timeline {
    width: 20%;
    height: 540%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff1616;
}
/*gallery photos */
.left-sidebar-gallery {
    width: 20%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff1616;
    

}
.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}

.left-col {
    flex-basis: 40%;
}
.right-col {
    flex-basis: 55%;
}

.left-col img {
    width: 70%;
    cursor: pointer;
    border-radius: 25px;
    filter: grayscale(0);
    transition: filter 1s;
}

.left-col1 {
    width: 70%;
    cursor: pointer;
    border-radius: 25px;
    filter: grayscale(0);
    transition: filter 1s;
    float: right;

}
.left-col img:hover {
    filter: grayscale(1);

}
.right-col h1 {
    font-size: 55px;
    font-weight: 600;
}
.right-col p {
    color: black;
    margin: 20px 0 70px;
}
.social-media i {

    font-size: 160%;
    margin: 6%;
    padding: 5%;
}

/* Media Queries */
/* for larger to medium screen size from 799px wide and down*/
@media screen and (max-width: 850px) {
    
   .right-col {
       width: 65%;
       height: 850px;
       margin: 0 auto;
   }
   .logo {
       padding: 0;
       width: 15%;
       float: left;
     
   }
   .left-col img {
    width: 90%;
    height: 400px;
    position: relative;
    
}
.menu ul {
    width: 100%;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    background: #ff1616;
}
.menu ul li {

margin-top: 10px;
margin-bottom: 10px;
}
   }
   
.federer-img-child {

    float: left; 
    margin-right:20px; 
    border:solid red 1px; padding: 2px; 
    border-radius: 25px;
}
.Federer-img-2006 {
    border:solid red 1px; padding: 2px; 
    border-radius: 25px;
}
.Federer-img-2003 {

  margin-top: 15px;
    border:solid red 1px; padding: 2px; 
    border-radius: 25px;
   
}

.Federer-img-2017 {
    margin-top: 15px;
    border:solid red 1px; padding: 2px; 
    border-radius: 25px;
}





#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
   

}
#photos > img {
    width: 100%;
}
.right-col-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,);
}
.container {
    max-width: 700px;
    width: 100%;
    background: #ff1616;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: black;

}
.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
border-color: greenyellow;
}
.form .gender-details .gender.title {
    font-size: 20px;
    font-weight: 500;

}
.form .gender-details .category {
width: 80%;
display: flex;
background: greenyellow;

}
form .button {
    height: 50px;
    margin: 45px 0;
    
   
}
form .button input {
    height: 100%;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 18px;
    width: max-content;
    margin-left: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
   

}