@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body{

    font-family: Lato, sans-serif;
    font-weight: 300;
   
}
.logo {
   text-decoration: none;
   width: 110px;
   padding-top: 10px;
   padding-left: 90%;
   
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.menu {

    text-align: right;
    background: #ff1616;
    padding: 10px 30px;
    border-top-left-radius: 18px;
}

   

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.menu a:hover {
border-bottom: 1px solid #fff;

}
.left-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff1616;
}
.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}
.left-col {
    flex-basis: 40%;
}
.right-col {
    flex-basis: 55%;
}
.left-col img {
    width: 70%;
    cursor: pointer;
    border-radius: 25px;
    filter: grayscale(0);
    transition: filter 1s;
}
.left-col img:hover {
    filter: grayscale(1);

}
.right-col h1 {
    font-size: 55px;
    font-weight: 600;
}
.right-col p {
    color: black;
    margin: 20px 0 70px;
}
.social-media i {

    font-size: 160%;
    margin: 2%;
    padding: 5%;
   
}
/* Media Queries */
/* for larger to medium screen size from 799px wide and down*/
@media screen and (max-width: 799px) {
    
    .left-col {
       width: 0%;
    }
   
}
@media screen and (max-width: 950px) {
    .menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
    }

}